<div class="panel panel-default" id="chatPanel">
    <div class="panel-heading">
        <h4>Messaging</h4>
    </div>
    <div class="panel-body">
        <div>
            <div ng-repeat="x in messageList[userId].messageList">
                <div>
                    <div class="media" ng-show="x.senderId!=userInfo.id">
                        <div class="media-left">
                            <img ng-src="{{messageList[userId].simpleUser.photoPath}}" class="media-object" style="width:60px">
                        </div>
                        <div class="media-body" ng-click="viewDetailedMessage(x.messageList[x.messageList.length - 1])">
                            <h4 class="media-heading">{{messageList[userId].simpleUser.fullName}}<span class="pull-right text-muted">{{x.sendDate}}</span></h4>
                            <p>{{x.subject}}</p>
                        </div>
                    </div>
                    <p class="text-info" ng-show="x.senderId==userInfo.id" style="text-align: right">{{x.subject}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <form role="form" name="Chat" ng-submit="sendMessage()" style="padding-bottom: 30px">
            <div class="form-group">
                <label for="message">{{ 'label.message' | translate}}: </label>
                <input class="form-control" required id="message" ng-model="message.subject"/>
            </div>
            <button type="submit" class="btn btn-info btn-md pull-right" ng-disabled="Chat.$invalid">{{ 'button.send' | translate}}</button>
        </form>
    </div>
</div>