<div class="panel panel-default" id="chatPanel">
    <div class="panel-heading">
        <h4>Messaging</h4>
    </div>
    <div class="panel-body">
        <div>
            <div ng-repeat="x in messageList[userId].messageList">
                <div>
                    <p ng-show="x.senderId!=userInfo.id"><span style="color: red">{{messageList[userId].simpleUser.fullName}}</span>: {{x.subject}}<span class="pull-right text-muted">{{x.sendDate}}</span></p>
                    <p class="text-info" ng-show="x.senderId==userInfo.id" style="text-align: right">{{x.subject}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <form role="form" name="Chat" ng-submit="sendMessage()" style="padding-bottom: 30px">
            <div class="form-group">
                <label for="message">Message: </label>
                <input class="form-control" required id="message" ng-model="message.body"/>
            </div>
            <button type="submit" class="btn btn-info btn-md pull-right" ng-disabled="Chat.$invalid">Send</button>
        </form>
    </div>
</div>