<div class="panel panel-default">
    <div class="panel-heading">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-4">
                    <img ng-src="{{user.photoPath}}" height="400" width="400" alt="" class="img-rounded img-responsive" />
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4>{{user.fullName}}</h4>
                    <small><cite>{{user.fullAddress}}<i class="glyphicon glyphicon-map-marker"></i></cite></small>
                    <br>
                    <i class="glyphicon glyphicon-envelope"></i>{{user.email}}
                    <br>
                    <button ng-show="userInfo.id!=user.id" type="button" data-toggle="modal" data-target="#newMessage" class="btn btn-primary btn-block-lg submit pull-right" style="margin-left: 10px">{{ 'button.sendMessage' | translate}}</button>
                    <button ng-show="userInfo.id==user.id" type="button" data-toggle="modal" data-target="#printStat" class="btn btn-primary btn-block-lg submit pull-right">Print statistic</button>
                    <button ng-show="userInfo.id==user.id" type="button" data-toggle="modal" data-target="#editProfile" class="btn btn-primary btn-block-lg submit pull-right" style="margin-left: 10px">{{ 'button.edit' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm">
                    <form ng-submit="addPost()">
                        <div class='form-group'>
                            <textarea class="form-control input-lg" id="newPost" name="newPost" ng-model="text" placeholder="Create your post here..."></textarea>
                            <br>
                            <div class="input-group">
                                <input type="file" onchange="angular.element(this).scope().setNewFile(this.files[0])" name="file" accept="image/*">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-block-lg submit pull-right">{{ 'button.send' | translate}}</button>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div ng-repeat="x in posts | orderBy : 'creationDate' : true">
            <hr style="margin-top: 2%; margin-bottom: 2%">
            <div class="row">
                <div class="col-xs-12">
                    <div class="well well-sm">
                        <div class="media" style="margin-bottom: 3%">
                            <button value='$ID' class='close' type='button' ng-click="deletePost(x)">&times</button>
                            <div class="media-left">
                                <img ng-src="{{x.simpleUser.photoPath}}" class="media-object" style="width:60px">
                            </div>
                            <div class="media-body" ng-click="viewDetailedMessage(x.messageList[x.messageList.length - 1])">
                                <h4 class="media-heading">{{x.simpleUser.fullName}}<span class="pull-right text-muted">{{x.postProjection.creationDate}}</span></h4>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <img ng-src="{{x.postProjection.photoPath}}" style="width:100%">
                            <div class="caption">
                                <p>{{x.postProjection.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="newMessage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'label.sendMessage' | translate}}</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="messageForm" ng-submit="sendMessage()" name="Message">
                    <div class="form-group">
                        <div class="media col-sm-offset-1">
                            <div class="media-left">
                                <img ng-src="{{user.photoPath}}" class="media-object" style="width:60px">
                            </div>
                            <div class="media-body" ng-click="viewDetailedMessage(x.messageList[x.messageList.length - 1])">
                                <h4 class="media-heading">{{user.fullName}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="body">{{ 'label.message' | translate}}</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" required rows="5" id="body" name="body" ng-model="message.subject"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default pull-right" ng-disabled="Message.$invalid">{{ 'button.send' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div id="editProfile" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'label.editProfile' | translate}}</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="profileForm" ng-submit="editProfile()" name="Register">
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-5">
                            <label for="name">{{ 'label.name' | translate}}</label>
                            <input type="text" class="form-control" id="name" name="name" ng-model="name" required pattern="[a-zA-Zа-яА-Я]{3,20}" value="Name">
                            <span class="help-block" ng-show="!Register.name.$valid && Register.name.$dirty">{{ 'message.error.name' | translate}}</span>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="form-group col-sm-5">
                            <label for="surname">{{ 'label.surname' | translate}}</label>
                            <input type="text" class="form-control" id="surname" name="surname" required pattern="[a-zA-Zа-яА-Я]{3,20}" ng-model="surname">
                            <span class="help-block" ng-show="Register.surname.$invalid && Register.surname.$dirty">{{ 'message.error.surname' | translate}}</span>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-5">
                            <label for="name">{{ 'label.country' | translate}}</label>
                            <input type="text" class="form-control" name="country" required ng-model="country">
                            <span class="help-block" ng-show="!Register.country.$valid && Register.country.$dirty">{{ 'message.error.country' | translate}}</span>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="form-group col-sm-5">
                            <label for="surname">{{ 'label.city' | translate}}</label>
                            <input type="text" class="form-control" name="city" required ng-model="city">
                            <span class="help-block" ng-show="Register.city.$invalid && Register.city.$dirty">{{ 'message.error.city' | translate}}</span>
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="surname">{{ 'label.photo' | translate}}</label>
                        <input type="file" required onchange="angular.element(this).scope().setNewAvatarFile(this.files[0])" name="file" accept="image/*">
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default pull-right" ng-disabled="Register.$invalid">{{ 'button.save' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div id="printStat" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeModal()">&times;</button>
                <h4 class="modal-title">{{ 'label.editProfile' | translate}}</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="printForm" ng-submit="printStat()" name="Print">
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-11">
                            <label for="name">{{ 'label.name' | translate}}</label>
                            <select required ng-model="selectedName" ng-options="x for x in names">
                            </select>
                        </div>
                        <div class="form-group col-sm-11">
                            <a ng-show="printUrl.length!=0" href="{{printUrl}}" download="{{selectedName}}.xls">Download - {{selectedName}}.xls</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default pull-right" ng-disabled="Print.$invalid">{{ 'button.save' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>