<div class="panel panel-primary" id="chatPanel">
    <div class="panel-heading">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchParam" placeholder="{{ 'input.search' | translate}}">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class=" panel-body">
        <div ng-repeat="x in friends | friendSearch : searchParam">
            <div class="row container-fluid">
                <div class="media-left">
                    <img ng-src="{{x.photoPath}}" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/#/user/{{x.id}}">{{x.fullName}}</a></h4>
                    <p><a ng-click="showNewMessage(x)">Send message</a></p>
                </div>
                <button type="button" class="btn btn-primary btn-block-xs submit pull-right" ng-click="removeFriend(x)">{{ 'button.remove' | translate}}</button>
            </div>
        </div>


        <hr style="margin-top: 2%; margin-bottom: 2%"/>
        <div>
            <h4>Other people</h4>
        </div>

        <div ng-repeat="x in peoples | messageSearch : searchParam">
            <div class="row container-fluid">
                <div class="media-left">
                    <img ng-src="{{x.photoPath}}" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/#/user/{{x.id}}">{{x.fullName}}</a></h4>
                    <p><a ng-click="showNewMessage(x)">Send message</a></p>
                </div>
                <button type="button" class="btn btn-primary btn-block-xs submit pull-right" ng-click="addToFriend(x)">{{ 'button.add' | translate}}</button>
            </div>
        </div>

        <hr/>
    </div>
</div>

<div id="newMessage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send message</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="messageForm" ng-submit="sendMessage()" name="Message">
                    <div class="form-group">
                        <div class="media col-sm-offset-1">
                            <div class="media-left">
                                <img ng-src="{{user.photoPath}}" class="media-object" style="width:60px">
                            </div>
                            <div class="media-body" ng-click="viewDetailedMessage(x.messageList[x.messageList.length - 1])">
                                <h4 class="media-heading">{{user.fullName}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="body">Message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" required rows="5" id="body" name="body" ng-model="message.subject"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default pull-right" ng-disabled="Message.$invalid">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>