<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" id="registerForm">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2>{{ 'register.header' | translate}}</h2></div>
            <div class="panel-body">
                <div class="alert alert-info alert-dismissable">
                    <a class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>{{ 'register.info' | translate}}</strong> {{ 'register.infoMes' | translate}}
                </div>
                <form name="Register" ng-submit="register()">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="name">{{ 'label.name' | translate}}</label>
                            <input type="text" class="form-control" id="name" name="name" required pattern="[a-zA-Z]{3,20}" ng-model="name" placeholder="{{ 'input.name' | translate}}">
                            <span class="help-block" ng-show="!Register.name.$valid && Register.name.$dirty">{{ 'message.error.name' | translate}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="surname">{{ 'label.surname' | translate}}</label>
                            <input type="text" class="form-control" id="surname" name="surname" required pattern="[a-zA-Z]{3,20}" ng-model="surname" placeholder="{{ 'input.surname' | translate}}">
                            <span class="help-block" ng-show="Register.surname.$invalid && Register.surname.$dirty">{{ 'message.error.surname' | translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="calendar">{{ 'label.birthday' | translate}}</label>
                        </div>
                        <div class="form-group col-sm-3">
                            <input type="date" class="form-control" id="calendar" name="birthday" required ng-model="birthday" placeholder="yyyy-MM-dd"
                                   value="1997-06-01" min="1940-01-01" max="1998-01-01">
                        </div>
                        <div class="form-group col-sm-9">
                            <span class="help-block" ng-show="!Register.birthday.$valid && Register.birthday.$dirty">{{ 'message.error.birthday' | translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required">{{ 'label.sex.sex' | translate}}</label>
                            <div>
                                <label class="radio-inline"><input type="radio" name="sex" ng-model="sex" value="MALE" checked="">{{ 'label.sex.male' | translate}}</label>
                                <label class="radio-inline"><input type="radio" name="sex" ng-model="sex" value="FEMALE">{{ 'label.sex.female' | translate}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">{{ 'label.email' | translate}}</label>
                        <input type="email" class="form-control" id="email" name="email" required ng-model="email" placeholder="{{ 'input.email' | translate}}">
                        <span class="help-block" ng-show="Register.email.$invalid && Register.email.$dirty">{{ 'message.error.email' | translate}}</span>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="pwd">{{ 'label.password' | translate}}</label>
                            <input type="password" class="form-control" id="pwd" name="password" required pattern="[a-zA-Z0-9]{3,20}" ng-model="password" placeholder="{{ 'input.password' | translate}}">
                            <span class="help-block" ng-show="Register.password.$invalid && Register.password.$dirty">{{ 'error.message.password' | translate}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="repeatPassword">{{ 'label.repeat' | translate}}</label>
                            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" required pattern="[a-zA-Z0-9]{3,20}" ng-model="repeatPassword" placeholder="{{ 'input.repeat' | translate}}">
                            <span class="help-block" ng-show="Register.repeatPassword.$invalid && Register.repeatPassword.$dirty">{{ 'error.message.repeat' | translate}}</span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block-xs submit" ng-disabled="Register.$invalid">{{ 'button.register' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>