<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Settings</h3>
    </div>
    <div class="panel-body">
        <div class="row container-fluid">
            <div class="col-xs-4">
                <img ng-src="{{user.photoPath}}" height="200" width="200"/>
            </div>
            <div class="col-xs-8">
                <form name="Edit" ng-submit="editInfo()">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="name">{{ 'label.name' | translate}}</label>
                            <input type="text" class="form-control" id="name" name="name" required pattern="[a-zA-Zа-яА-Я]{3,20}" placeholder="Имя пользователя">
                            <span class="help-block" ng-show="!Register.name.$valid && Register.name.$dirty">{{ 'message.error.name' | translate}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="surname">{{ 'label.surname' | translate}}</label>
                            <input type="text" class="form-control" id="surname" name="surname" required pattern="[a-zA-Zа-яА-Я]{3,20}" ng-model="surname" placeholder="Фамилия пользователя">
                            <span class="help-block" ng-show="Register.surname.$invalid && Register.surname.$dirty">{{ 'message.error.surname' | translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="name">{{ 'label.country' | translate}}</label>
                            <input type="text" class="form-control" name="country" required ng-model="country" placeholder="Страна">
                            <span class="help-block" ng-show="!Register.country.$valid && Register.country.$dirty">{{ 'message.error.country' | translate}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="surname">{{ 'label.city' | translate}}</label>
                            <input type="text" class="form-control" name="city" required ng-model="city" placeholder="Город">
                            <span class="help-block" ng-show="Register.city.$invalid && Register.city.$dirty">{{ 'message.error.city' | translate}}</span>
                        </div>
                    </div>

                    <div class="input-group">
                        <input type="file" onchange="angular.element(this).scope().setNewFile(this.files[0])" name="file" accept="image/*">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block-xs submit pull-right" ng-disabled="Register.$invalid">Save</button>
                </form>
            </div>
        </div>

    </div>
</div>